<% layout('layouts/boilerplate') %>
    <form action="/restrooms" method="POST">

        <div class="row">
            <h1 class="text-center">New Business</h1>
            <div class="col-6 offset-3">
                <label class="form-label" for="bName">Business Name</label>
            <input class="form-control" type="text" name="restroom[name]" id="title">

            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" name="restroom[location]" id="location">

            <label class="form-label" for="image">Image URL</label>
            <input class="form-control" type="text" name="restroom[imageURL]" id="imageURL">

            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text-area" name="restroom[description]" id="description"></textarea>

        
        <button class="btn d-flex mt-4 btn-success">Add Restroom</button>
            </div>
        </div>

        
            
    </form>

    <footer>
        
    </footer>
